---
import type { AstroComponentInstance } from "astro/runtime/server/index.js";
import ContentCard from "../components/ContentCard.astro";
import { Content } from "../classes/Content";

export interface CategoryRowProps {
  label: string;
  list: Content[];
}

const { label, list } = Astro.props;
---

<div class="category-row">
  <a href="#" class="category-label">{label}</a>
  <div class="scrollable-row">
    {
      list.map((content: Content) => (
        <ContentCard content={content} style="scroll-snap-align: start;" />
      ))
    }
  </div>
</div>

<style>
  .category-row {
    display: flex;
    flex-direction: column;
  }

  .category-label {
    margin-top: 1.5em;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .scrollable-row {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x mandatory;
  }
</style>
