---
import type { AstroComponentInstance } from "astro/runtime/server/index.js";
import ContentTile from "../components/ContentTile.astro";
import { Content } from "../classes/Content";

export interface CategoryColumnProps {
  label: string;
  list: Content[];
}

const { label, list } = Astro.props;
---

<div class="category-column">
  <a href="#" class="category-label">{label}</a>
  <div class="content-tiles">
    {list.map((content: Content) => <ContentTile content={content} />)}
  </div>
</div>

<style lang="scss">
  :root {
    --text-color: #333;
  }

  .category-column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem; /* Increased gap between tiles */
    margin-top: 2rem; /* Added top margin for separation from featured section */
    padding-bottom: 2rem; /* Add padding at the bottom of the column */
  }

  .category-label {
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    padding-left: 0.5rem;
  }

  .content-tiles {
    display: flex;
    flex-direction: column;
    width: 100%; /* Make content tiles take full width */
    gap: 0.5rem; /* Gap between individual tiles */
  }
</style>
