---
import type { AstroComponentInstance } from "astro/runtime/server/index.js";
import ContentCard from "../components/ContentCard.astro";
import { Content } from "../classes/Content";

export interface CategoryRowProps {
  label: string;
  list: Content[];
}

const { label, list } = Astro.props;
---

<div class="category-row">
  <a href="#" class="category-label">{label}</a>
  <div class="scrollable-row">
    {
      list.map((content: Content) => (
        <ContentCard content={content} style="scroll-snap-align: start;" />
      ))
    }
  </div>
</div>

<style lang="scss">
  :root {
    --text-color: #333;
  }

  .category-row {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .category-label {
    margin-bottom: 0.5em; /* Increased bottom margin for label */
    font-size: 1.8em; /* Larger font size for category labels */
    font-weight: 700; /* Bolder font weight */
    text-decoration: none;
    color: var(--text-color); /* Using text color for label */
    cursor: pointer;
    padding-left: 0.5rem; /* Slight padding for alignment */
  }

  .scrollable-row {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem; /* Increased gap between cards */
    padding-bottom: 1rem; /* Add padding for scrollbar visibility */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */

    /* Custom scrollbar for this specific element */
    &::-webkit-scrollbar {
      height: 8px; /* For horizontal scrollbars */
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1; /* Light track */
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c0c0c0; /* Slightly lighter grey for handle */
      border-radius: 10px;
      transition: background-color 0.3s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #909090; /* Darker grey on hover */
    }

    /* Firefox specific scrollbar for this element */
    /* Note: Firefox has more limited customization options */
    /* The scrollbar-width property can be 'auto', 'thin', or 'none' */
    /* The scrollbar-color property sets the color of the thumb and track */
    & {
      scrollbar-width: thin;
      scrollbar-color: #c0c0c0 #f1f1f1;
    }
  }
</style>
